@model MembersVM

<h3>Members</h3>
@if (User.Identity!.IsAuthenticated)
{
    <p>
        Welcome <strong>@Model.SpokenName</strong>!
    </p>
    <p>@Model.FirstName @Model.LastName, Favoritfärg: @Model.FavouriteColour</p>
}
else
{
    <p>Du är inte inloggad...</p>
}